<footer id="footer" class="main-content-wrap">
    <span class="copyrights" xmlns:cc="https://creativecommons.org/ns#">
        本站内容以
        <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh-hans" target="_blank" rel="license noopener noreferrer">
            CC BY-NC 4.0
        </a>
        <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg">
        <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg">
        <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg">
        协议发布
    </span>
</footer>
