#open-search-modal {
    display: none;

    .search-icon {
        position: absolute;
        top:      15px;
        left:     15px;
        color:    $font-color-base;
    }
    .search-input {
        box-sizing: border-box;
        padding:    0 55px 0 25px;
        margin:     0;
    }
    .modal-header {
        font-weight:    600;
        padding-bottom: 8px;
    }
    .modal-body {
        // minus height of header bar and footer bar
        height:      calc(100% - 100px);
    }

    hr {
        margin-top: 0;
    }
    .results-count {
        line-height: 50px;
        color:       $font-color-base;
    }
    .no-result {
        display: none;
        position:  relative;
        top:       50%;
        transform: translateY(-50%);
    }
}

