name: CI
on:
  push:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Publish build output'
        required: true
        default: 'preview'
        type: choice
        options:
          - no
          - preview
          - online
jobs:
  build:
    name: Build Blog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: 'true'
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false
      - id: pnpm-cache
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: pnpm-store-v2-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-store-v2-
      - run: cd themes/tranquilpeak && pnpm install && npm run prod
      - run: pnpm install && npm run build
      - uses: actions/upload-artifact@v3
        with:
          name: blog
          path: public
      - name: Index at Algolia
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || inputs.publish == 'online' }}
        run: npm run index
        env:
          ALGOLIA_ADMIN_API_KEY: ${{ secrets.ALGOLIA_ADMIN_API_KEY }}
  publish:
    name: Publish to Cloudflare
    runs-on: ubuntu-latest
    needs: build
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master') || inputs.publish != 'no' }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: blog
          path: public
      - uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: moycat-blog
          directory: public